
@layout("Books"){

  <section id="service" class="main-section text-center text-pad bg-gray">
    <div class="heading-about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
              <div class="section-heading">
                <h2>Books available to you after payment</h2>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
            <div class="boxed-white">
              <div class="inner">
                <h5>Advanced High-School Mathematics</h5>
                <p> David B. Surowski, Shanghai American School, Singapore American School, January 29, 2011. Task Book</p>
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="boxed-white">
              <div class="inner">
                <h5>Introduction to real analysis</h5>
                <p>William F. Trench Andrew G. Cowles Distinguished Professor Emeritus, Department of Mathematics, Trinity University, San Antonio, Texas, USA</p>
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="boxed-white">
              <div class="inner">
                <h5>French from Wikibooks</h5>
                <p>The current editable version of this book is available at Wikibooks, the open content textbooks collection, at http://en.eikibooks.org/wiki/French </p>
              </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="boxed-white">
              <div class="inner">
                <h5>Spanish by Wikibooks contributors</h5>
                <p>Developed on Wikibooks the open-content textbooks collection</p>
              </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="boxed-white">
              <div class="inner">
                <h5>Basic and Advanced Algebra</h5>
                <p>Published by the Author East Setauket, New York</p>
              </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="boxed-white">
              <div class="inner">
                <h5>Introduction to Computing</h5>
                <p>Exploration in Language, Logic, and Machines</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

}
