
@layout("Book"){

    <section id="service" class="main-section text-center text-pad bg-gray">
        <div class="heading-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="section-heading">
                            <h2>Thank you for paying! Books available to you: </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-lg-offset-5">
                    <hr class="marginbot-50">
                </div>
            </div>
            <div class="row">
                <div class="a">
                    <div class="boxed-white">
                        <div class="inner">
                            <h5>Advanced High-School Mathematics</h5>
                            <p> David B. Surowski, Shanghai American School, Singapore American School, January 29, 2011. Task Book</p>


                            <a href="@routes.Assets.versioned("books/further.pdf")"  download>Download</a>

                        </div>
                    </div>
                </div>
                <div class="a">
                    <div class="boxed-white">
                        <div class="inner">
                            <h5>Introduction to real analysis</h5>
                            <p>William F. Trench Andrew G. Cowles Distinguished Professor Emeritus, Department of Mathematics, Trinity University, San Antonio, Texas, USA</p>
                            <a href="@routes.Assets.versioned("books/TRENCH_REAL_ANALYSIS.pdf")" download>Download</a>
                        </div>
                    </div>
                </div>
                <div class="a">
                    <div class="boxed-white">
                        <div class="inner">
                            <h5>French from Wikibooks</h5>
                            <p>The current editable version of this book is available at Wikibooks, the open content textbooks collection, at http://en.eikibooks.org/wiki/French </p>
                            <a href="@routes.Assets.versioned("books/French.pdf")" download>Download</a>
                        </div>
                    </div>
                </div>
                <div class="a">
                    <div class="boxed-white">
                        <div class="inner">
                            <h5>Spanish by Wikibooks contributors</h5>
                            <p>Developed on Wikibooks the open-content textbooks collection</p>
                            <a href="@routes.Assets.versioned("books/Spanish.pdf")"  download>Download</a>
                        </div>
                    </div>
                </div>
                <div class="a">
                    <div class="boxed-white">
                        <div class="inner">
                            <h5>Basic and Advanced Algebra</h5>
                            <p>Published by the Author East Setauket, New York</p>
                            <a href="@routes.Assets.versioned("books/b2-alg-inside.pdf")" download>Download</a>
                        </div>
                    </div>
                </div>
                <div class="a">
                    <div class="boxed-white">
                        <div class="inner">
                            <h5>Introduction to Computing</h5>
                            <p>Exploration in Language, Logic, and Machines</p>
                            <a href="@routes.Assets.versioned("books/FullText.pdf")" download>Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}
